* {
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    transition-duration: 20;
}


.Profile {
    height: 100vh;
    width: 100%;
    background-image: url(images/1645199088_5-phonoteka-org-p-fon-bez-shvov-5.jpg);
    background-size: cover;
    background-position: center;
}

.Profile h2 {
    color: color(srgb 0.0956 0.1633 0.255);
    cursor: default;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 10%;

}

hr {
    border-color: gray;
}

.logo {
    color: rgb(208, 208, 208);
    font-size: 25px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul li {
    color: rgb(208, 208, 208);
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul li a {
    color: rgb(208, 208, 208);
    text-decoration: none;
    font-weight: normal;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: color(srgb 0.0956 0.1633 0.255);
    transition: .4s;
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);

}

h1 {
    color: color(srgb 0.1045 0.2043 0.475);
    margin: 20px 0 20px 0;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    color: rgb(208, 208, 208);
    font-size: 25px;
    margin-bottom: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color: rgb(208, 208, 208);
    font-size: 18px;
    margin-bottom: 10px;
    padding-right: 8%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
    color: rgb(208, 208, 208);
    letter-spacing: 2px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about {
    width: 100%;
    padding: 100px 0;
    background-color: #191919;
}

.about img {
    height: auto;
    width: 430px;
}


.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: whrgb(208, 208, 208)ite;
    font-size: 55px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 15px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

button {
    background-color: color(srgb 0.1639 0.3135 0.4423);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 90px;
    transition: .4s;
}

#lets-talk-button {
    cursor: pointer;
}


#lets-talk-button:hover {
    background-color: rgb(208, 208, 208);
    color: color(srgb 0.1639 0.3135 0.4423);
    transition: .4s;
}

.float-right {
    float: right;
}

.image-container {
    width: 461px;
}

.its-me-text {
    padding-right: 30px;
    color: rgb(208, 208, 208);
}

.education {
    height: 100vh;
    width: 100%;
    background-image: url(images/1645199088_5-phonoteka-org-p-fon-bez-shvov-5.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px 0px;
}

.title h2 {
    color: rgb(208, 208, 208);
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    min-height: 400px;

}

.card {
    height: 365px;
    width: 33tpx;
    padding: 20px 35px;
    border-radius: 20px;
    margin: 15px;
    position: static;
    overflow: hidden;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, color(srgb 0.1639 0.3135 0.4423) 50%, color(srgb 0.2349 0.2724 0.305) 50%);
    background-size: 100% 200%;
    transition: all .8s;
}

.card:hover {
    background-position: left bottom;
    color: black;
    border: none;
    box-shadow: 0 0 20px color(srgb 0.1639 0.3135 0.4423);
}

.card p,
.card a {
    color: white;
}

.education h2 {
    padding-right: initial;
}

.card i {
    color: rgb(135, 182, 255);
    opacity: 0.5;
    font-size: 70px;
    margin-bottom: 15px;
    transition: all ease .40s;
}

.skills {
    background-color: #191919;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 5rem;
}

.left {
    display: flex;
    align-items: left;
    text-align: center;
    gap: 4rem;
    padding: 10px 25px;

}

.right ol {
    color: rgb(208, 208, 208);
    font-weight: normal;

}

.right {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    list-style-type: none;
    display: inline-block;
    padding: 100px 10px;
}

.right h3 {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.in i {
    color: rgb(51, 139, 232);
    opacity: 0.5;
    font-size: 70px;
    margin-bottom: 15px;
    transition: all ease .40s;
}

.in h4 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;

}

.contact {
    width: 100%;
    height: 200px;
    background: #2d2d2d;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact .button2 {
    background-color: color(srgb 0.1639 0.3135 0.4423);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    border-radius: 30px;
    transition: .4s;
}

.contact .button2:hover {
    background-color: transparent;
    border: 2px solid color(srgb 0.1639 0.3135 0.4423);
    cursor: pointer;

}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    font-size: 25px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer p:nth-child(2) {
    color: white;
    font-size: 15px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social {
    display: flex;
}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: color(srgb 0.2189 0.3302 0.425);
    border-radius: 50%;
    margin: 22px 10px;
    color: rgb(208, 208, 208);
    ;
    text-decoration: none;
    font-size: 20px;
}

.end {
    position: absolute;
    color: color(srgb 0.2189 0.3302 0.425);
    bottom: 35px;
    font-size: 14px;

}